/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(131, 182, 166);
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



/* content */

main {
    text-align: center;
    width: 50%;
    margin: 5rem auto;
    height: 100vh;
}

#countdown {
    font-weight: bold;
    font-size: 5rem;
}

#numbers-container {
    padding: 0;
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 10px black;
    color: white;
}

/* input */

#input-container {
    margin-top: 20rem;
}

input[type=number] {
    width: 90px;
    border: 2px solid white;
    border-radius: 25px;
    text-indent: 15px;
}

#right-answers {
    padding: 0;
    margin-left: 5px;
}